{% extends "base.html" %} {% load static %} {% block styles%}
<link rel="stylesheet" href="{% static 'css/authentication/style.css' %}" />
{% endblock %} {% block title %}Task Login{% endblock %} {% block content %}
<div class="container">
  <form class="position-absolute top-50 start-50 translate-middle rounded-3" method="post" action="{% url 'dologin' %}">
    {% csrf_token %}
    <div class="format-center">
      <h1>TaskApp</h1>
      <h3>Login</h3>

      <div class="mb-3">
        <label class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        />
      </div>
      <button type="submit">Login</button>
      <a href="{% url 'signin' %}">Signin</a>
    </div>
  </form>
</div>
{% endblock %}
