{% extends "base.html" %} {% load static %} {% block styles%}
<link rel="stylesheet" href="{% static 'css/authentication/style.css' %}" />
{% endblock %} {% block title %}Task Login{% endblock %} {% block content %}
<div class="container">
  <form class="position-absolute top-50 start-50 translate-middle rounded-3">
    <div class="format-center">
      <h1>TaskApp</h1>
      <h3>Login</h3>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <button type="submit">Login</button>
      <a href="{% url 'signin' %}">Signin</a>
    </div>
  </form>
</div>
{% endblock %}
