{% extends "base.html" %} {% load static %} {% block styles%}
<link rel="stylesheet" href="{% static 'css/tasks/style.css' %}" />
{% endblock %} {% block title %}New Task{% endblock %} {% block content %}

<div class="container">
  {% include 'navbar.html' %}
  <form
    class="position-absolute top-50 start-50 translate-middle rounded-3"
    method="POST"
    action="{% url 'createTasks' %}"
  >
    {% csrf_token %}
    <div class="format-center">
      <h1>Creating a new Task</h1>

      <div class="mb-3">
        <label class="form-label">Task Name</label>
        <input type="text" class="form-control" id="name" name="name" required/>
      </div>

      <div class="mb-3">
        <label class="form-label">Task Description</label>
        <input type="text" class="form-control" id="description" name="description" required />
      </div>

      <div class="mb-3">
        <label class="form-label">Task Duration in H</label>
        <input type="number" class="form-control" id="duration" name="duration" required />
      </div>

      <button type="submit">Save Task</button>
    </div>
  </form>
</div>
{% endblock %}
