<div class="navbar">
    <a href="{% url 'home' %}">
      <h1>TaskApp <i class="fa-solid fa-house"></i></h1>
      
    </a>
      <div class="d-flex">
        <a class="mx-2" href="{% url 'createTasks' %}"><h3>Add Task <i class="fa-solid fa-plus" style="color: rgb(94, 195, 94);"></i></h3></a>
        <div style="height: 50px; width: 2px; background-color: #DDE6ED;"></div>
        <a class="mx-2" href="{% url 'dologout' %}"><h3>Logout <i class="fa-solid fa-right-from-bracket" style="color: rgb(253, 90, 90);"></i></h3></a>
      </div>
    </div>
  </div>
</div>
